<div class="container">
    <app-main-slider></app-main-slider>
    <app-categories></app-categories>

    <div class="row g-3">
        <div class=" mb-5">
            <input [(ngModel)]="searchTerm" class="form-control w-75 mx-auto" type="text" placeholder="Search">
        </div>
        <div class="col-lg-2 col-md-4 mb-4 mb-lg-0" *ngFor="let prod of ListProducts|searchProduct:searchTerm">
            <!-- Card-->
            <!-- <a  [routerLink]="['/productdetails',prod.id]" > -->

            <div class="card rounded shadow-sm border-0 mb-4">
                <div class="card-body">
                    <img [src]="prod.imageCover" alt="" class="img-fluid d-block mx-auto mb-2">
                    <p class="text-success">
                        {{prod.category.name}}
                    </p>
                    <h5> <a [routerLink]="['/productdetails',prod.id]"
                            class="text-dark text-decoration-none">{{prod.title.split(' ').slice(0,2).join(' ')}}</a>
                    </h5>
                    <!-- <p class="small text-muted font-italic">
                        {{prod.description}}
                    </p> -->
                    <div class="d-flex justify-content-between">
                        <p class="text-muted">{{prod.price}} {{'egp'|uppercase}}</p>
                        <div>
                            <i class="fas fa-star rating-color"></i>
                            <span>
                                {{prod.ratingsAverage}}
                            </span>
                        </div>
                    </div>

                </div>
                <!-- <div class="ratingsAverage fs-5 p-3">
                    <strong  [ngClass]="{'text-success': prod.ratingsAverage>4,
                    'text-danger':prod.ratingsAverage<4}">{{prod.ratingsAverage}}</strong>
                </div> -->



            </div>
            <!-- </a> -->
        </div>


    </div>